@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,700&family=Lobster&family=Roboto+Mono&display=swap');
/*font-family: 'Lato', sans-serif;
font-family: 'Lobster', cursive;
font-family: 'Roboto Mono', monospace;*/
*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
body{
    background-color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

.contenedor{
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

/*------------------- HEADER--------------------*/
header{
    background-image: linear-gradient(pink, purple, aqua) ;
    background-position: center;
    max-height: 600px;
}
header .profesion{
    font-family: 'Lobster', cursive;
}
header .menu{
    margin: 40px 0;
    text-align: right;
}

header .menu a{
    margin: 0 20px;
    color: #fff;
    display: inline-block;
    padding: 9px;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    font-size:  1em;
}
header .menu a:hover{
    border-bottom: 2px solid #fff;
}

header .contenedor-texto{
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 190px 0;
}
 header .contenedor-texto .texto{
    border: 2px solid #fff;
    border-radius: 3px;
    display: inline-block;
    text-align: center;
    padding: 20px 60px;
 }
 header .contenedor-texto .texto h1,
 header .contenedor-texto .texto h2{
    color: #fff;
    margin: 0;
 }
 header .contenedor-texto .texto .nombre{
    margin-bottom: 10px;
    font-size: 50px;
    line-height: 50px;
 }

 header .contenedor-texto .texto .profesion{
    font-size: 25px;
    line-height: 25px;
    font-family: 'Roboto Mono', monospace;

 }

 /*----------------- MAIN-----------------------*/
 .main .contenedor{
    overflow: visible;
 }
 .main .sobre-mi{
    text-align: center;
 }
  .main .sobre-mi .foto{
    margin-top:  -100px;
 }

 .main .sobre-mi .foto img{
    vertical-align: top;
    border-radius: 50%;
    border: 5px solid rgba(255,255, 255, 0.2);
 }
 .main .sobre-mi .texto{
    color: #5a5a5a;
    font-size: 1em;
    font-weight: 700;
    font-style: italic;
    line-height: 30px;
    width: 80%;
    margin: 40px auto 60px auto;
 }
 .main .sobre-mi .texto .titulo{
    font-size: 34px;
    margin-bottom: 40px;
    line-height: 34px;
    text-align: center;
    font-style: normal;
 }
 .main .proyectos{
    background-color: #f2f2f2;
    padding: 60px 0;
 }
 .main .proyectos .contenedor{
    overflow: hidden;
 }
.main .proyectos .titulo{
    font-size: 34px;
    margin-bottom: 40px;
    line-height: 34px;
    text-align: center;
    font-style: normal;
    color: #323068;
}
 .main .proyectos .contenedor-proyectos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 40px;
 }
 .main .proyectos .contenedor-proyectos .trabajo {
width: 30%;
 }
 .main .proyectos .contenedor-proyectos .trabajo img{
    width: 100%;
    margin-bottom: 10px;
    vertical-align: top;
    border-radius: 3px;
 }

 .main .proyectos .contenedor-proyectos .trabajo p{
    color: #3895ea;
    font-weight: 700;
    text-align: center;
 }
 .main .proyectos .contenedor-proyectos .trabajo .descripcion{
    text-align: center;
    color: #636363;
 }

 /*---*/
 .main .tecnologias{
    background-color: #f2f2f2;
    padding: 60px 0;
 }
 
 .main .tecnologias .contenedor-tecnologias{
    overflow: hidden;
 }
.main .tecnologias .contenedor-tecnologias .titulo{
    font-size: 34px;
    margin-bottom: 40px;
    line-height: 34px;
    text-align: center;
    font-style: normal;
    color: #323068;
    font-weight: 700;
    }
 .main .tecnologias .contenedor-tecnologias{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 40px;
 }
 .main .proyectos .contenedor-tecnologias .tecnologia {
width: 23%;
 }
 .main .proyectos .contenedor-tecnologias .tecnologia img{
    width: 100%;
    margin-bottom: 10px;
    vertical-align: top;
    border-radius: 3px;
 }

 .main .proyectos .contenedor-tecnologias .tecnologia p{
    color: #636363;
    font-weight: 700;
    text-align: center;
 }
 /*-----------------FOOTER----------------*/
 footer .contacto{
    padding: 60px 0;
 }
 footer .contacto h3{
    font-size: 34px;
    margin-bottom: 40px;
    line-height: 34px;
    text-align: center;
    font-style: normal;
    color: #323068;
    font-weight: 700;
 }
 footer .contacto form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
 }
 footer .contacto form input[type="text"],
 footer .contacto form input[type="email"],
 footer .contacto form textarea { 
border: 2px solid #cecece;
border-radius: 5px;
padding: 15px 20px;
font-size: 20px;
color: #a4a4a4;
 }
 footer .contacto form input[type="text"],
 footer .contacto form input[type="email"]{
    width: 49%;
    margin-top: 15px;
 }
 footer .contacto form textarea{
    width: 100%;
    height: 100px;
    min-width: 100%;
    max-width: 100%;
    min-height: 100px;
    max-height: 200px;
    margin-bottom: 15px;
 }
 footer .contacto form .boton{
    margin: auto;
    background-color: #3895ea;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 15px 40px;
    cursor: pointer;
 }
 footer .contacto form .boton:hover{
    background-color: #387ba3;
 }
 footer .contacto p{
    color: #636363;
    font-weight: 700;
    text-align: center;
 }

 footer .redes-sociales{
    background-color: #323068;
    padding: 60px 0;
 }
 footer .redes-sociales .contenedor{
    display: flex;
    justify-content: center;
 }
 footer .redes-sociales a{
    color: #fff;
    text-align: center;
    width: 100px;
    display: block;
    padding: 15px 0;
    border-radius: 3px;
    font-size: 30px;
    text-decoration: none;
    margin:  0 20px;
    border: 2px solid transparent;
 }
 footer .redes-sociales a:hover{
    text-decoration: underline;
    
 }
 .derechos{
    color: #636363;
    font-weight: 700;
    text-align: center;
 }

 /*----------------MEDIA QUERYS------------*/
 @media screen and (max-width:800px) {
   header .menu{
      text-align: center;
     }
     .main .proyectos .contenedor-proyectos .trabajo{
      width: 46%;

     }
   
 }
 @media screen and (max-width:500px){
   header .contenedor-texto .texto .nombre{
      font-size: 35px;
   }
   header .contenedor-texto .texto .profesion{
      font-size: 18px;
   }
   footer .redes-sociales .contenedor{
      flex-wrap: nowrap;
      padding: 20px 0;
   }
 }
